ENTRY(_start)

SECTIONS
{
    . = 0x400000; /* Set the starting address of the program */
    
    /* All read-only data sections */
    . = RODATA_OFFSET;
    .rodata : {
        *(.rodata*) 
        *(.string*)
    }

    /* All code sections */
    . = TEXT_OFFSET;
    .text : {
        *(.text*)
    }

    /* All initialized data sections */
    /*.data : {
        *(.data*) 
    }*/

    /* All uninitialized data sections */
    /*.bss : {
        *(.bss*) 
    }*/

    /DISCARD/ : {
        * (*) /* Discard any other sections */
    }
}